.choose-color-notice {
	position: absolute;
	top: 24px;

	&__active-color {
		border: 2px dashed black;
		border-radius: 50%;
	}

	&__choose-color:hover {
		transform: scale(1.1);
	}

	&__inner {
		display: flex;
		align-items: center;

		max-width: 200px;
		height: 29px;

		border-radius: 10px;
		background-color: white;
		gap: 5px;
	}

	&__color {
		width: 25px;
		height: 25px;

		cursor: pointer;

		background-repeat: no-repeat;
		background-size: cover;
	}

	&__btn {
		cursor: pointer;
	}

	&__btn:focus {
		box-shadow: 0 0 0 2px blue;
	}

	&__btn svg:focus {
		pointer-events: none;

		border: 1px solid red;
	}
}
