$main: #E3D5CA;
$header: #D5BDAF;
$form: #F5EBE0;
$focus-input: #1593CE;
$input-error: red;
$input-border-message: grey;
$background-input: #F9F0DA;
$input-text: #505050;
$edit-btn-text: rgb(167 167 167);
$edit-btn-background:rgb(52 56 61);
$edit-btn-focus: rgb(237 237 237);
$registration-bg: #22223B;
$registration-btn: #4A4E69;
$registration-text: #9A8C98;
