.render-notes {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		padding: 0 20px;
	}

	&__title {
		padding: 10px;
	}

	&-enter {
		opacity: 0;
	}

	&-enter-active {
		transition: opacity 500ms ease-in;

		opacity: 1;
	}

	&-exit {
		opacity: 1;
	}

	&-exit-active {
		transition: opacity 500ms ease-in;

		opacity: 0;
	}
}

@media screen and (max-width: 1200px) {
	.render-notes {
		&__inner {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 480px) {
	.render-notes {
		&__inner {
			gap: 30px;
			padding: 0 5px;
		}
		&__title {
			font-size: 16px;
		}
	}
}
